
/.settings/org.eclipse.jdt.core.prefs
/bin/anajam/sample/hotspotclient/HCSample.class
/bin/anajam/sample/hotspotclient/HCScreen.class
/bin/anajam/sample/hotspotclient/MyHPAuthAgent.class
/bin/anajam/sample/hotspotclient/MyHPClient.class
/deliverables/Standard/7.1.0/HotspotClientSample.cod
/deliverables/Standard/7.1.0/HotspotClientSample.csl
/deliverables/Standard/7.1.0/HotspotClientSample.cso
/deliverables/Standard/7.1.0/HotspotClientSample.debug
/deliverables/Standard/7.1.0/HotspotClientSample.jad
/deliverables/Standard/7.1.0/HotspotClientSample.jar
/deliverables/Standard/7.1.0/HotspotClientSample.rapc
/deliverables/Standard/HotspotClientSample.alx